body {
  font-family: "IBM Plex Sans", sans-serif;
  background: url(/assets/bg-main-mobile.png) no-repeat top -250px right -250px;
  background-color: #f2f2f2;
  color: #191826;
}

/* header section */
header {
  margin: 40px 24px 166px 24px;
}
h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.45px;
  margin-top: 64px;
  margin-bottom: 20px;
}
header p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
/* main section */
main {
  background: url(/assets/bg-pattern-2.svg) no-repeat center;
  background-size: contain;
  background-color: #191826;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 380px;
  border-radius: 12px;
}
.illustration {
  width: 209px;
  height: 430px;
  position: absolute;
  top: -98px;
}
.main-container {
  position: absolute;
  top: 360px;
  background-color: #fa7453;
  padding: 48px 36px;
  display: flex;
  flex-direction: column;
  color: #fcfaf9;
  border-radius: 12px;
}
h2 {
  font-weight: 700;
  line-height: 40px;
  font-size: 32px;
  margin-bottom: 12px;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.dollar {
  font-size: 65px;
  font-weight: 700;
  line-height: 52px;
  margin-top: 36px;
  margin-bottom: 32px;
}
.month {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
}
.dollar-month {
  display: flex;
  align-items: center;
}
button {
  border: none;
  border-radius: 12px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.18px;
  font-family: "IBM Plex Sans", sans-serif;
  padding-top: 15px;
  padding-bottom: 14px;
}
.ios {
  color: #fcfaf9;
  background-color: #191826;
  margin-bottom: 16px;
}
.android {
  color: #191826;
  background-color: #fcfaf9;
}

/* footer section */
footer {
  margin: 550px 26px 50px 24px;
}
footer p {
  margin-top: 32px;
  margin-bottom: 64px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}
.social-media-icons {
  display: flex;
  gap: 20px;
}
/* tablet section */
@media (min-width: 768px) {
  body {
    background: url(/assets/bg-main-tablet.png) no-repeat top -300px right -100px,
      url(/assets/bg-pattern-1.svg) no-repeat top -72px right -35px;
    background-color: #f2f2f2;
  }

  header {
    margin: 62px 200px 249px 39px;
  }
  h1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.73px;
    margin-top: 95px;
    margin-bottom: 28px;
    margin-right: 50px;
  }
  header p {
    font-size: 18px;
    line-height: 28px;
  }
  .illustration {
    width: 270px;
    height: 556px;
    top: -138px;
    left: 60px;
  }
  main {
    height: 600px;
    margin-right: 39px;
    margin-left: 33px;
    background: url(/assets/bg-pattern-2.svg) no-repeat center top -50px;
    background-color: #191826;
  }
  .main-container {
    padding: 48px 48px;
    top: 200px;
    right: 100px;
    width: 400px;
  }
  footer {
    margin: 253px 39px 85px 33px;
    display: flex;
    align-items: center;
  }
  footer p {
    margin-top: 32px;
    margin-right: 230px;
  }
  br {
    display: none;
  }
}
/* desktop section */
@media (min-width: 1440px) {
  body {
    background: url(/assets/bg-main-desktop.png) no-repeat top -280px right -150px,
      url(/assets/bg-pattern-1.svg) no-repeat top -50px right 0px;
  }
  header {
    margin: 62px 200px 320px 165px;
  }
  h1 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    margin-top: 127px;
    margin-bottom: 40px;
  }
  header p {
    font-size: 20px;
    line-height: 34px;
    margin-right: 200px;
  }
  main {
    height: 750px;
  }
  main,
  footer {
    margin-left: 100px;
    margin-right: 165px;
  }
  .illustration {
    width: 280px;
    height: 606px;
    left: 230px;
    top: -190px;
  }
  main p {
    font-size: 20px;
    line-height: 34px;
    margin-top: 22px;
  }
  .main-container {
    padding: 58px 59px 48px 54px;
  }
  footer {
    margin-top: 200px;
    margin-bottom: 90px;
  }
  footer p {
    margin: 0px;
    max-width: 366px;
  }
  .contact {
    display: flex;
    gap: 50px;
  }
  footer{
    justify-content: space-between;
  }
  /* active desktop */
  button {
    cursor: pointer;
  }
  .ios:hover {
    background-color: #66e2dc;
  }
  .android {
    background-color: #ffb964;
  }
  .social-media-icons svg {
    cursor: pointer;
    fill: #fa7453;
  }
}
